/* Container */
.filter-container {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #f9f9f9;
  position: relative;
}

/* Form Layout */
.filter-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: white;
}

/* Row Layout */
.filter-row {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  background: rgb(255, 255, 255);
  padding-bottom: 10px;
}

/* Input Group */
.filter-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Select and Input Styles */
.filter-select,
.filter-multi-select,
.filter-input,
.filter-textarea {
  padding: 7px;
  font-family: 'Work Sans', sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 180px;
  color: #7f7f7f; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.filter-select:focus,
.filter-multi-select:focus,
.filter-input:focus,
.filter-textarea:focus{
  border-color: #e9e9e9;
  outline: none;
}

.filter-textarea {
  resize: none;
}

/* Button Group */
.filter-btn-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* Button Style */
.export-filter-button {
  background-color: #ffffff;
  border: none;
  padding: 5px 0px;
  cursor: pointer;
  border-radius: 5px;
}

.export-filter-button-name{
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  color: #27ae68;
  cursor: pointer;
}

/* .export-all-button {
  background-color: #ffffff;
  color: #27ae68;
  border: none;
  padding: 8px 15px 0px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
} */

.reset-button {
  background-color: #003e4b;
  color: #ffffff;
  height: 32px;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Work Sans', sans-serif;
}

.reset-button:hover,.reset-button:focus {
  border-color: #a7a7a7;
  outline: none;
}

.cancel-btn {
  background-color: #d9534f;
}

.cancel-btn:hover {
  background-color: #c9302c;
}
