.report-heading {
  color: #2c2c74;
  margin: 0px 0px 10px 0px;
  font-weight: 500;
}
.report-filters {
  display: flex;
  gap: 14px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.report-dropdown,
.report-datepicker {
  padding: 8px;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 230px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
/* datepicker */

.datepicker-container {
  position: relative;
  display: inline-block;
}

.report-datepicker {
  padding: 10px 35px 10px 10px;
  font-size: 14px;
  border: 1px solid #d7d7d8;
  border-radius: 4px;
  width: 250px;
}

/* Calendar icon style */
.calendar-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #828385;
  cursor: pointer;
}
/* Custom style for entire datepicker */
.react-datepicker {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  border: 1px solid #f2f3f3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header */
.react-datepicker__header {
  background-color: #2c2c74;
  color: white;
  border-bottom: none;
}

/* Month navigation arrows */
.react-datepicker__navigation-icon::before {
  border-color: white;
}

/* Day cells */
.react-datepicker__day {
  color: #333;
  padding: 0.1rem;
  border-radius: 6px;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  background-color: #2c2c74;
  color: white;
}

.react-datepicker__day--keyboard-selected {
  background-color: #2c2c74;
  color: white;
}

/* Hover effect */

.react-datepicker__day--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ) {
    background-color: #2c2c74;
}
/* Date range highlight */
.react-datepicker__day--in-range {
  background-color: #2c2c745d;
}
.react-datepicker__current-month {
  color: white;
}
.react-datepicker__day-name {
  color: white;
}

.report-button {
  padding: 5px;
  width: 8%;
  background-color: #003e4b;
  color: white;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  border: none;
}
.button-name {
  margin: 0;
  font-size: 14px;
}

.clear-button {
  background-color: #ff710c; /* Red color */
  color: white;
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}

.clear-button:hover {
  background-color: #ff2222;
}

.export-button {
  position: relative;
  display: flex;
  width: 10%;
  background-color: #e6e6e6;
  color: #646464;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.export-excel {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
}
.export-name {
  margin: 0;
  font-size: 14px;
  margin-right: 20px;
  color: #193e29;
}
.report-table-container {
  width: 100%;
  overflow-x: auto; /* Horizontal scroll support for smaller screens */
  margin-top: 30px;
}

.report-table {
  width: 99%;
  border-collapse: collapse;
  text-align: left;
  background-color: #fcfcfc;
  border-radius: 10px;
}

.report-table th,
.report-table td {
  /* border: 1px solid #ddd; */
  padding: 12px;
  text-align: center;
  font-size: 14px;
}

.report-table th {
  color: #2c2c74;
}

/* Center the pagination controls */
.pagination-report {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 8px;
  padding-top: 40px;
  flex-wrap: wrap;
  margin-right: 1%;
}

/* Style the buttons */
.pagination-report button {
  width: 52px;
  height: 32px;
  background-color: #003e4b;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-family: "Work Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.pagination-report button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Page Info Text */
.pagination-h4 {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  margin: -1px 0px 0px 1px;
  align-self: center;
}
.react-select__control {
  min-width: 200px;
  border-radius: 6px;
  font-size: 14px;
}

.react-select__menu {
  z-index: 9999;
}
  